@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sarala', sans-serif;
  padding: 50px;
  text-align: center;
  background-color: #568cb5;
  color: rgb(113, 101, 101);
}

h1 {
  font-size: 48px;
  text-align: left;
  margin-left: 10%;
  letter-spacing: 4px;
}

.btn {
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #c89667;
  border-radius: 6px;
  padding: 4px 14px;
  color: #12343b;
  background-color: #e1b382;
  width: fit-content;
  letter-spacing: 1px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
}

.container {
  display: flex;
  justify-content: center;
  gap: 46px;
  padding: 40px 0;
  text-align: left;
  letter-spacing: 2px;
}

.refresh {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}

.list {
  width: 420px;
}

.list ul {
  border: 3px solid #c89667;
  border-radius: 6px;
  margin: 22px 0;
}

.list li {
  list-style: none;
  padding: 12px;
}

.list li:nth-child(even) {
  background-color: #12343b;
}

.add-score-form {
  width: 250px;
}

.add-score-form form {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  align-items: flex-end;
  gap: 14px;
}

.add-score-form input {
  width: 100%;
  border: 3px solid #c89667;
  border-radius: 6px;
  padding: 6px;
  background-color: #e1b382;
}

#msg {
  color: #f75990;
  font-size: 14px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Oleo Script', cursive;
}

main {
  display: flex;
  padding-left: 180px;
  align-items: baseline;
  height: 50vh;
}

h1 {
  margin: 30px;
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

.scoreSection {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  text-align: left;
  width: 30vw;
}

.scoreSection ul {
  border: solid #141414 2px;
}

.scoreSection li {
  padding: 5px;
}

li:nth-child(even) {
  background: #ccc;
}

.scoreHeader {
  display: flex;
  align-items: center;
}

.scoreHeader h2 {
  margin: 15px 10px;
  font-size: 35px;
}

form > button {
  width: 50px;
  align-self: flex-end;
}

.scoreHeader button {
  height: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  margin: 20px 0;
  height: 25px;
  width: 25vw;
  padding: 10px;
  font-size: 20px;
} */
